server:
  port: 8080
spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
#    url: jdbc:mariadb://host.docker.internal:3306/ordering
    url: jdbc:mariadb://localhost:3306/ordering
    username: root
    password: 1234
  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    database: mysql
    generate-ddl: true
    hibernate:
      ddl-auto: update
#      show-sql: true

jwt:
  expiration: 300 #300ë¶„
  secretKey: sejong




